body{
	background-image: url("https://img.freepik.com/premium-vector/weather-elements-realistic-sun-cloud-lighting-rain-snow-isolated-transparent-background_80590-7845.jpg?size=626&ext=jpg&uid=R85202679&ga=GA1.1.1859394032.1668591111&semt=sph");
}
.container{
	border:1px solid red;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
	color:white;
	width:40%;
	height:40%;
	text-align: center;
	margin-left:30%;
}
